*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-nav{
    height: 47px;
    height: 50px;
    width:100%;
    border: 1px solid lightgrey;
    box-shadow: 2px 0px 2px ;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;
}
.main-nav img{
    height:40px;
    width: 68px;
    padding-left: 20px;
}
.main-nav ul{
    display: flex;
}
.main-nav ul li{
    list-style: none;
    padding-left: 9px;
}
.main-nav a{
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: black;
}
.profile{
    display: flex;
    gap: 10px;
    padding-left: 30px;
    /* margin-left: 50px; */

}
.image-section1{

    height: 270px;
    width: 530px;
    /* border: 2px solid black; */
    padding-left: 100px;
    background-color: rgba(211, 211, 211, 0.1);

}
.page-2 img{
    height: 270px;
    width: 300px;
    margin-top: 1px;
}

.prf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    gap: 2px;
}

.page-2{
  height: 280px;
  width:100%;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 30px;

}
/* .page-2 img{
    height:280px;
    width: 600px;
} */
/* .page-2 .image-section-1 img{
    height: 350px;
    width:300px;
    border: 2px solid black;
} */
/* .image-section-1 img{
    height: 300px;
    width: 100px;
} */
.top{
    height: 280px;
    width: 40%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.subtop{
    font-weight: bold;
    font-size: 25px;
}
.subtop-2{
    margin-top: 25px;
}
.subtop-1{
    font-weight: bold;
}
.image-section-2{
    height: 605px;
    width: 100%;
    /* border: 2px solid black; */
    /* display: flex; */
    margin-top: 55px;
/* flex-wrap: wrap; */
/* justify-content: center; */

/* flex-direction: row-reverse; */
/* justify-content: center; */
/* display: flex;
flex-wrap: wrap;
flex-direction: row; */


}
.medal{
    /* background-color: lightgray; */
    height:20px;
    width: 170px;
    /* margin-bottom: -40px; */
    margin-top: -20px;
    font-size: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;

}
.image-section-2 img{
    height: 200px;
    width:19%;
   
}
.image-section-3  {height: 440px;
width: 100%;
/* border: 2px solid black; */
/* display: flex; */
margin-top: 55px;
/* flex-wrap: wrap; */
/* justify-content: center; */

/* flex-direction: row-reverse; */
/* justify-content: center; */
/* display: flex;
flex-wrap: wrap;
flex-direction: row; */


}
.image-section-3 img{
    height: 200px;
    width:19%;

}
.footer{
    height:350px;
    width:100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.online-shopping{
    height:200px;
    width:170px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;padding-top: 10px;
 
    
  
}
h4{
    color: blue;
    font-weight: bold;
    margin-bottom: 20px;
   /* margin-left: 50px; */
}
 .main-nav .mens:hover::after{
    content:"";
    position: absolute;
    width: 30px;
    height: 4px;
    background-color:red;
    top: 0px;
    left: 107px;
    margin-top: 40px;


}
.main-nav .kids:hover:after{
    content:"";
    position: absolute;
    width: 30px;
    height: 4px;
   
    background-color:red;
    top: 0px;
    left: 207px;
    margin-top: 40px;


}
.main-nav .womens:hover:after{
    content:"";
    position: absolute;
    width: 54px;
    height: 4px;
    /* width: 30px;
    height: 4px; */
    background-color:red;
    top: 0px;
    left: 145px;
    margin-top: 40px;
}
.main-nav .home:hover::after{
    content:"";
    position: absolute;
    width: 90px;
    height: 4px;
    /* width: 30px;
    height: 4px; */
    background-color:red;
    top: 0px;
    left: 242px;
    margin-top: 40px;
}

.main-nav .Beauty:hover::after{
    content:"";
    position: absolute;
    width: 50px;
    height: 4px;
    /* width: 30px;
    height: 4px; */
    background-color:red;
    top: 0px;
    left: 342px;
    margin-top: 40px;
}
.main-nav .studio:hover::after{
    content:"";
    position: absolute;
    width: 44px;
    height: 4px;
    /* width: 30px;
    height: 4px; */
    background-color:red;
    top: 0px;
    left: 404px;
    margin-top: 40px;
    
}
.main-nav .studio::after{
    content:"NEW";
    position: absolute;
    width: 40px;
    height: 8px;
    /* width: 30px;
    height: 4px; */
    /* background-color:red; */
    top: 0px;
    left: 444px;
    margin-top: 11px;
    color:red;
    font-weight: bold;
    font-size: 8px;
}
.serch-box input{
color:#696e79;
font-size: 12px;
background-color: #f5f5f6;
/* flex-grow: 1; */
height: 30px;
width: 170px;
/* border: 0px; */


border-style: none;
border-radius: 0 4px 4px 0;
/* padding-left: 5px; */
padding: 8px 10px 10px ;
/* margin-bottom: 18px; */

}
::placeholder{
    font-size: 1vw;
    font-weight: 600;
}
.serch-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  height:30px;
  /* width:200px; */
  width:170;
  background-color: #f5f5f6;
  padding-left: 5px;
  border: none;
 

}



.online-shopping .mn{
    margin-right: 72px;
}
.online-shopping .wn{
    margin-right: 55px;
}
.online-shopping .kd{
    margin-right: 74px;
}
.online-shopping .hl{
    margin-left: -3px;
}
.online-shopping .bt{
    margin-left: -55px;
}
.online-shopping .gc{
    margin-left: -40px;
}
.online-shopping .mi{
    margin-left: -8px;
}
.gap{
    height:270px;
    width: 750px;
    display:flex;
    margin-left: 30%;
    gap: 150px;

}
.serch-box i{
    font-size: 9px;

    
}







